@import url('https://fonts.googleapis.com/css2?family=Galdeano&display=swap');

html {
  scroll-behavior: smooth;
}

body{
    font-family: 'Galdeano';
    margin:0;
    font-weight:400;
    color:#333
}